.navbar{
   
    color: rgb(247, 247, 252);
    background-color: rgb(50, 187, 141);
    text-decoration: none;
    border:none;
    padding: 15px;
    margin: 20px;
   
    border-radius: 10px;
   
    
    
    
}
.navbar:hover{
    background-color:rgb(30, 134, 100);
}
.link{
    margin-top: 50px;
   
}

